.game {
  margin: 10%;
  margin-top: 0px;
}

.card-container {
  display: inline-flex;
  flex-flow: wrap;
}

h1 {
  color: white;
}

.resetButton {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family: 'Lobster', cursive;
}
