html {
  height: 100%;
}

body {
  background-color: #f2f0ef;
  background-image: url('/images/20170925_090328.jpg');
  background-position: left;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Lobster', cursive;
  text-align: center;
}
